body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    width: 80%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    text-align: left;
    padding: 8px;
}
th {
    background-color: #4CAF50;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

#attribution {
    margin-top: 50px;
    text-align: center;
}

#attribution p {
    color: #777;
}

#attribution a {
    color: #4a90e2;
    text-decoration: none;
    transition: color 0.3s;
}

#attribution a:hover {
    color: #357ab7;
}

@media screen and (max-width: 600px) {
    body {
        align-items: flex-start;
    }
    
    table {
        width: 100%;
        font-size: 14px;
    }
    thead {
        display: none; /* Optionally hide the header on small screens */
    }
    tr {
        display: block;
        margin-bottom: 10px;
    }
    td {
        display: block;
        text-align: right;
    }
    td:before {
        /* Use this to add labels to your data on small screens */
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
}