<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Family Stock Portfolio</h2>
        <table>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Equity</th>
                <th>Last Updated</th>
            </tr>
            {% for stock, price in prices.items() %}
            <tr>
                <td>{{ stock }}</td>
                <td>{{ stocks[stock] }}</td>
                <td>
                    {% if price is number %}
                        ${{ "{:,.2f}".format(price) }}
                    {% else %}
                        {{ price }}
                    {% endif %}
                </td>
                <td>
                    {% if price is number %}
                        ${{ "{:,.2f}".format(stocks[stock] * price) }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{ timestamps[stock]|default("N/A") }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total Equity:</strong></td>
                <td>$<strong>{{ "{:,.2f}".format(total) }}</strong></td>
                <th>Profit/Loss</th>
            </tr>
            <tr>
                <td colspan="3" style="text-align: right;"><strong>Total Equity For Each Shareholder:</strong></td>
                <td>$<strong>{{ "{:,.2f}".format(total/8) }}</strong></td>
                <td>$<strong>{{ "{:,.2f}".format((total/8) - 1250) }}</strong></td>
            </tr>
        </table>        
        <div id="attribution">
            <p>&copy; 2023 <a href="https://linkedin.com/in/kashfifahim" target="_blank">Kashfi Fahim</a>.  All Rights Reserved.</p>
        </div>
    </div>
    
</body>
</html>
